In [62]:
from pathlib import Path
import sqlite3
import pandas as pd	
import os
import glob


os.chdir('C:\\Users\\tsymb\\OneDrive\\Робочий стіл\\Задание Аналитик Данных\\task')
#files = glob.glob('*.csv')

#url = "data.csv"
df1 = pd.read_csv('data.csv', on_bad_lines='skip', sep=';')
df2 = pd.read_csv('price.csv', on_bad_lines='skip', sep=';')
df0 = pd.read_csv('deposit.csv', on_bad_lines='skip', sep=';')

df4 = pd.read_csv('quantity.csv', on_bad_lines='skip', sep=';')

combined = pd.DataFrame()
temp= pd.DataFrame()
combined = pd.merge(df2, df1, how='left', on="part_number")
temp=pd.merge(combined,df3, how='left',on="part_number")
combined=pd.merge(temp,df4,how='left',on="part_number")
values = {"deposit": 0,}
combined=combined.fillna(value=values)
combined[combined['warehouse'].isin(['A', 'H', 'J', '3', '9'])] 
combined.loc[combined.quantity =='>10','quantity'] = 10
#combined = combined.set_index('quantity')
#combined.drop(['NaN'],axis = 0)

values = {"quantity": 666,}
combined=combined.fillna(value=values)
combined = combined.loc[combined['quantity'] != 666]
combined

,part_number,price,manufacturer,main_part_number,category,origin,deposit,quantity,warehouse
4,000 014,"88,07",AMTRA,19-598,Chemia Samochodowa,PL,0,10,1
5,000 014,"88,07",AMTRA,19-598,Chemia Samochodowa,PL,0,7,2
6,000 014,"88,07",AMTRA,19-598,Chemia Samochodowa,PL,0,4,3
7,000 014,"88,07",AMTRA,19-598,Chemia Samochodowa,PL,0,10,4
8,000 014,"88,07",AMTRA,19-598,Chemia Samochodowa,PL,0,10,8
...,...,...,...,...,...,...,...,...,...
1950800,A57 882,"1421,8",ACI,7625656,ACI,CZ,0,1,1
1951219,A58 301,"200,75",ACI,7628398Q,ACI,CZ,0,1,9
1956814,A63 896,"126,99",ACI,9900997A,ACI,CZ,0,1,S
1982458,A89 567,"2996,06",ACI,5856104,ACI,CZ,0,1,K
1988521,A95 654,"97,62",ACI,SA 6Y0807367A,ACI,CZ,0,1,G